# CODEOWNERS
# Format: file-pattern  owner1  owner2

# Default owners for everything
*       @toloughlin23

# Critical systems
CORE_SUPER_BANDITS/*   @toloughlin23
scripts/*              @toloughlin23
tests/*                @toloughlin23
docs/*                 @toloughlin23

# GitHub Docs: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
